/* TODO: Add media queries, fix width on large viewports, little tablet issues & stack on mobile */

.main-div {
  background-color: #fff;
  display: flex;
  gap: 25px;
  border-radius: 12px;
  min-width: 50%;
  min-height: 50%;
  padding: 25px;
}

.main-subbox {
  padding: 10px 5px;
}

h2 {
  font-size: 0.8rem;
  margin: 0;
}

.hover:hover {
  cursor: pointer;
}
